{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CallBook - Поиск</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  </head>
  <body>
    <img class="page-title" src="{% static 'img/callbook.png' %}">
    <div class="content">
      <form method="post">
        {% csrf_token %}
        <h1 class="content-title">Поиск пользователей</h1>
        <input type="text" placeholder="Фамилия пользователя" name="sn">
        <button class="button login-button">Найти</button>
      </form>
    </div>
  </body>
</html>
